<table>
  <tbody>
    <%= form_tag(button_find_new_items_home_index_path, method: "post") do %>
      <tr>
        <th><%= label_tag(:count_item, "Count item:") %>
        <%= text_field_tag(:count_item) %><th>
        &nbsp;
        <th><%= label_tag(:from_price, "From price:") %>
        <%= text_field_tag(:from_price) %><th>
        &nbsp;
        <th><%= label_tag(:to_price,   "To price:") %>
        <%= text_field_tag(:to_price) %><th>
      </tr>
  </tbody>
</table>
      <br>
      <%= submit_tag("Find new items") %>
    <% end %>

