<%= form_tag(button_update_price_bought_items_home_index_path, method: 'post') do %>
  <%= submit_tag('UpdatePriceBoughtItems') %>
<% end %>
<br>
<h3>All kinds of sale Items: (count: <%= @sale_items.size %>) </h3>
<br>
<h3>Cheap Items: (count: <%= @cheap_items.size %>) </h3>
<br>
<h3>List extensive Items: (count: <%= @expensive_items.size %>) </h3>
<p>
<%= render 'partials/list_extencive_items.html' %>
<p>

<br>
<%= form_tag(button_update_sale_items_home_index_path, method: 'post') do %>
  <%= submit_tag('Update_sale_items') %>
<% end %>
<br>
